{:at "2026-09-04T05:34:15.331Z", :product "mk1-sandwich", :passed? true, :findings 0, :kinds []}
{:at "2026-09-04T05:59:31.048Z", :product "mk1-sandwich", :passed? true, :findings 0, :kinds []}
{:at "2026-09-04T07:37:42.941Z", :product "mk1-sandwich", :passed? true, :findings 0, :kinds []}
{:at "2026-09-04T08:45:45.285Z", :product "mk1-sandwich", :passed? true, :findings 0, :kinds []}
{:at "2026-09-04T10:00:05.069Z", :product "mk1-sandwich", :passed? true, :findings 0, :kinds []}
{:at "2026-09-04T11:44:51.881Z", :product "mk1-sandwich", :passed? true, :findings 0, :kinds []}
{:at "2026-09-04T13:02:55.080Z", :product "mk1-sandwich", :passed? true, :findings 0, :kinds []}
