{:at "2026-09-03T17:27:07+0900" :product "mk1" :passed? false :findings 2 :kinds [:no-insert-path]}
{:at "2026-09-03T18:56:42+09:00" :product "mk1" :passed? false :findings 2 :kinds [:no-insert-path]}
{:at "2026-09-04T10:34:24+0900" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-04T11:00:40+0900" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-04T11:30:54+0900" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-04T12:02:11+0900" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-04T12:48:11+0900" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-04T13:07:53+0900" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-04T13:38:11+0900" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-04T14:08:29+0900" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-04T14:34:15+0900" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-04T14:59:31+0900" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-04T06:40:47.873Z", :product "mk1-sandwich", :passed? true, :findings 0, :kinds []}
{:at "2026-09-04T16:37:42+0900" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-04T17:45+0900" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-04T19:00+0900" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-04T19:59:28+0900" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-04T20:44+0900" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-04T22:02+0900" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-05T03:21:33+0900" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-05T04:33:06+0900" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-05T04:59:22+0900" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-05T05:46:58+0900" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-05T06:15:51+0900" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-05T06:39:46+0900" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-05T08:08:11+0900" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-05T08:36:39+0900" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-05T09:33:35+0900" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-05T10:10:19+0900" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-05T10:58:35+0900" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-05T12:03:14+0900" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-05T14:01:44+0900" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-05T16:05:42+0900" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-05T17:34:25+09:00" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-05T20:00:59+09:00" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-05T20:47:12+09:00" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-05T21:51:22+09:00" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-05T22:49:53+09:00" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-06T00:34:05+09:00" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-06T03:01:02+09:00" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-06T03:32:27+09:00" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-06T04:30:40+09:00" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-06T06:22:47+09:00" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-06T06:40:34+09:00" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-06T06:58:53+09:00" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-06T07:28:56+09:00" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-06T08:34:43+09:00" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-06T08:57:47+09:00" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-06T09:45:47+09:00" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-06T10:30:25+09:00" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-06T11:35:48+09:00" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-06T12:32:09+09:00" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-06T13:57:50+09:00" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-06T14:42:10+09:00" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}

{:at "2026-09-06T14:57:26+09:00" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-06T15:27:10+09:00" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-06T15:59:29+09:00" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-06T17:30:34+09:00" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
