{:at "2026-09-03T17:27:07+0900" :product "mk1" :passed? false :findings 2 :kinds [:no-insert-path]}
{:at "2026-09-03T18:56:42+09:00" :product "mk1" :passed? false :findings 2 :kinds [:no-insert-path]}
{:at "2026-09-04T10:34:24+0900" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-04T11:00:40+0900" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-04T11:30:54+0900" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-04T12:02:11+0900" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-04T12:48:11+0900" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-04T13:07:53+0900" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-04T13:38:11+0900" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-04T14:08:29+0900" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-04T14:34:15+0900" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-04T14:59:31+0900" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-04T06:40:47.873Z", :product "mk1-sandwich", :passed? true, :findings 0, :kinds []}
{:at "2026-09-04T16:37:42+0900" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-04T17:45+0900" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-04T19:00+0900" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-04T19:59:28+0900" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-04T20:44+0900" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
{:at "2026-09-04T22:02+0900" :product "mk1-sandwich" :passed? true :findings 0 :kinds []}
